Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - script: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f Dockerfile.lib-core.ci .
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f ci/tailwind-ng.Dockerfile .
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

chore: cleanup
  projects/tailwind-ng-core/package.json
  projects/tailwind-ng-themes/package.json
  projects/tailwind-ng/package.json
Due: none

fix(texts): update references and apis to match actual implementations
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-core/src/interfaces/combobox-item.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix unit tests
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
Due: ci/tailwind-ng.yml

docs: fix positioned elements
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update app title strategy
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat(core): add a structural directive to conditionally add/remove a template in the view withe some delay
  projects/tailwind-ng-core/src/directives/index.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
Due: ci/tailwind-ng-core.yml

ref(compt/dialog): separate logics
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng.yml

feat(checkbox): add two-way binding in checkbox component to improve data synch and make the api even more flexible
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: update templates
  .vscode/settings.json
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-themes/default/style.css
  tsconfig.json
Due: none

feat(components): improve default configs
  pnpm-lock.yaml
  projects/tailwind-ng-core/src/config/interfaces/combobox-item-config.interface.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-core/src/interfaces/dialog.ts
  projects/tailwind-ng-core/src/types/element-config.type.ts
  projects/tailwind-ng-docs/public/images/components/button-groups.png
  projects/tailwind-ng-docs/public/images/components/button-groups.webp
  projects/tailwind-ng-docs/public/images/components/comboboxes.png
  projects/tailwind-ng-docs/public/images/components/comboboxes.webp
  projects/tailwind-ng-docs/public/images/components/input-groups.png
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/button/button.component.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(core): add more type assertions
  package.json
  projects/tailwind-ng-core/src/guards/is-combobox.ts
  projects/tailwind-ng-core/src/guards/is-tab.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

core: fix linting
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: ci/tailwind-ng-core.yml

themes: built default
  projects/tailwind-ng-themes/default/style.css
Due: none

core(configs): separate configs type into single for better maintanability
  projects/tailwind-ng-core/src/config/config-of.ts
  projects/tailwind-ng-core/src/config/config-type-of.ts
  projects/tailwind-ng-core/src/config/config.key.ts
  projects/tailwind-ng-core/src/injectables/configs/button-config.token.ts
Due: ci/tailwind-ng-core.yml

core(configs): separate configs type into single for better maintanability
  projects/tailwind-ng-core/src/config/config-type.ts
  projects/tailwind-ng-core/src/config/index.ts
  projects/tailwind-ng-core/src/config/interfaces/index.ts
Due: ci/tailwind-ng-core.yml

refactor(components/button): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/configs/button-config.token.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components/checkbox): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/guards/is-checkbox.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components/*): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-config.token.ts
Due: ci/tailwind-ng-core.yml

refactor(components/avatar): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/guards/is-avatar.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/interfaces/avatar.ts
Due: ci/tailwind-ng-core.yml

refactor(components/*): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/is-icon.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
Due: ci/tailwind-ng-core.yml

refactor(components/*): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/is-toggle.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng-core/src/interfaces/toggle.ts
Due: ci/tailwind-ng-core.yml

refactor(components/*): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/guards/is-badge.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/interfaces/dialog.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/input-radio.ts
  projects/tailwind-ng-core/src/interfaces/input-text.ts
Due: ci/tailwind-ng-core.yml

refactor(components/*): improve maintainability by separating files responsabilities
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/interfaces/button-group.ts
  projects/tailwind-ng-core/src/interfaces/combobox-item.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-core/src/interfaces/toggle.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

themes: build default
  projects/tailwind-ng-themes/default/style.css
Due: none

core: remove circular deps in files
  projects/tailwind-ng-core/src/config/index.ts
  projects/tailwind-ng-core/src/config/interfaces/index.ts
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/is-avatar.ts
  projects/tailwind-ng-core/src/guards/is-badge.ts
  projects/tailwind-ng-core/src/guards/is-combobox.ts
  projects/tailwind-ng-core/src/guards/is-icon.ts
  projects/tailwind-ng-core/src/guards/is-toggle.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/injectables/configs/button-config.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
Due: ci/tailwind-ng-core.yml

chore: remove unused no more necessary blocks
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng-core.yml

perf(components/checkbox): improve performance by handling keyboard event at bubling phase
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng.yml

themes: update build
  projects/tailwind-ng-themes/default/style.css
Due: none

chore: prepare release v0.15
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-core/package.json
  projects/tailwind-ng-themes/README.md
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng-themes/package.json
  projects/tailwind-ng/package.json
Due: none

perf(component/icon): optimize icon rendering by removing blocking that may impact the main thread
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
Due: ci/tailwind-ng.yml

feat(core): add more type assertion functions
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/helpers/object.helper.ts
  projects/tailwind-ng-core/src/helpers/type-check.helper.ts
Due: ci/tailwind-ng-core.yml

perf(components/icons): improve icon
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/helpers/type-check.helper.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(themes): add a service for theme toggle
  projects/tailwind-ng-core/src/helpers/index.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/injectables/theme.service.ts
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.ts
Due: ci/tailwind-ng-core.yml

feat(core): improve the TwIf with defer removal and timer management
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

feat(components/combobox): add TwIf to defer the removal of the dropdown in the dom automatically
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

refactor(components/*): use model signal for better reactivity
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng.yml

chore(docs): update template
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: none

chore(docs): update template
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: none

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
