Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

ci: set count seed to 0
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(components): add checkbox - define default config for container and input - add unit tests - update imports - update docs to include usage samples - update default theme stylesheet
  projects/tailwind-ng-core/src/config/config-store.ts
  projects/tailwind-ng-core/src/config/config-type-of.type.ts
  projects/tailwind-ng-core/src/injectables/config.token.ts
  projects/tailwind-ng-core/src/types/transforms/translate.type.ts
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.module.ts
  projects/tailwind-ng/src/forms/checkbox/index.ts
  projects/tailwind-ng/src/forms/checkbox/input-checkbox.directive.ts
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/forms/index.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore(themes): update default stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(components/a11y): improve checkbox component a11y support.
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/keyboard-event-type.guard.ts
  projects/tailwind-ng-core/src/public-api.ts
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/input-checkbox.directive.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(components/a11y): improve checkbox component a11y support. (#63)
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/keyboard-event-type.guard.ts
  projects/tailwind-ng-core/src/public-api.ts
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/input-checkbox.directive.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix(core/types): replace any by unknown type
  projects/tailwind-ng-core/src/types/fully-optional.type.ts
  projects/tailwind-ng-docs/src/app/app.component.ts
Due: ci/tailwind-ng-core.yml

feat(components/checkbox): add an onmouseup event handler - update config - add interface
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng.yml

docs: update usage samples
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/index.html
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat(themes): a more default styles
  projects/tailwind-ng-themes/default/style.css
Due: none

fix: remove an incorrect import that was blocking lib build
  projects/tailwind-ng/src/forms/toggle/index.ts
  projects/tailwind-ng/tsconfig.prod.json
  tsconfig.json
Due: ci/tailwind-ng.yml

fix: remove an incorrect import that was blocking lib build
  projects/tailwind-ng/src/forms/combobox/index.ts
  projects/tailwind-ng/src/overlays/dialog/index.ts
Due: ci/tailwind-ng.yml

refactor(*): remove the z-indexer from the dialog component to the popup directive
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components/checkbox): improve on mouse up event handler
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng.yml

docs: update sample usage
  projects/tailwind-ng-docs/src/app/app.component.html
Due: none

themes: update default stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(components/dropdown): update config
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
Due: ci/tailwind-ng.yml

docs: update description
  README.md
  projects/tailwind-ng-core/package.json
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng/README.md
  projects/tailwind-ng/package.json
Due: none

docs: update readme
  README.md
  projects/tailwind-ng/README.md
Due: none

refactor: rename config providers
  projects/tailwind-ng-core/src/config/config-store.ts
  projects/tailwind-ng-core/src/injectables/config.token.ts
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/avatar/avatar.component.config.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.config.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.config.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.spec.ts
  projects/tailwind-ng/src/elements/elements.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.spec.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
  projects/tailwind-ng/src/overlays/overlays.config.ts
  projects/tailwind-ng/src/ui.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(core): rename type from modifier to variant
  projects/tailwind-ng-core/src/config/interfaces/checkbox-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/combobox-item-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/dialog-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/dropdown-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/icon-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/input-radio-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/input-text-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/toggle-config.interface.ts
  projects/tailwind-ng-core/src/types/element-config.type.ts
Due: ci/tailwind-ng-core.yml

docs: add main page
  projects/tailwind-ng-docs/public/images/hero-bg.webp
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.spec.ts
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: add a page for labs
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.spec.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: none

ci: fix build by removing unused import
  projects/tailwind-ng-docs/src/app/main/main.component.ts
Due: none

ci: update triggers
  ci/tailwind-ng.yml
Due: ci/tailwind-ng.yml

docs: fix bg image url
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: add more section in the landing page
  package.json
  projects/tailwind-ng-docs/public/images/graph-paper.svg
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(components/button): use a type guard to validate event keys
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

feat(components/icon): add more default icons
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
Due: ci/tailwind-ng.yml

feat(components/icon): add more icon keys
  projects/tailwind-ng-core/src/config/interfaces/icon-config.interface.ts
Due: ci/tailwind-ng-core.yml

refactor(components/icon): remove unnecessary host binding
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
Due: ci/tailwind-ng.yml

chore(components/combobo-item): remove unused imports
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.spec.ts
Due: ci/tailwind-ng.yml

core: simplify exports
  projects/tailwind-ng-core/src/helpers/index.ts
Due: ci/tailwind-ng-core.yml

feat(core): add a helper class for dark theme toggle
  projects/tailwind-ng-core/src/helpers/theme.helper.ts
Due: ci/tailwind-ng-core.yml

docs: fix background image url
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update margin
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

chore: update
  README.md
  package.json
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/README.md
Due: none
