Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - script: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f Dockerfile.lib-core.ci .
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f ci/tailwind-ng.Dockerfile .
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

refactor(components/button): improve implementation - remove afterNextRender lifecycle hook - add getters for a11y - improve event handlers - use popup Widget
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

perf(components/dropdown): use forwardRef to break circular potential depency
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
Due: ci/tailwind-ng.yml

fix(core/config): update input text config type and key
  projects/tailwind-ng-core/src/config/config-store.ts
  projects/tailwind-ng-core/src/config/config-type-of.type.ts
Due: ci/tailwind-ng-core.yml

feat(core/directives): add event listeners to intercept interactions when the component is disabled
  projects/tailwind-ng-core/src/directives/base.directive.ts
Due: ci/tailwind-ng-core.yml

ref(core/directives): use type guards to validate event keys
  projects/tailwind-ng-core/src/directives/option.directive.ts
Due: ci/tailwind-ng-core.yml

feat(core/directives): add an abstract property for popup type
  projects/tailwind-ng-core/src/directives/popup.directive.ts
Due: ci/tailwind-ng-core.yml

feat(core/directives): set concrete popup type
  projects/tailwind-ng-core/src/injectables/abstract-directives.ts
Due: ci/tailwind-ng-core.yml

ref(core/api): add type property
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

ref(components/button): update popup type definition
  projects/tailwind-ng-core/src/interfaces/button.ts
Due: ci/tailwind-ng-core.yml

docs: add more templates and routes
  projects/tailwind-ng-docs/src/app/app.component.html
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
Due: none

docs: add more templates and routes
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/components/components.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.html
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.ts
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.html
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.html
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.ts
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.html
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.ts
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.html
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.ts
Due: none

docs: add getting started doc
  package.json
  pnpm-lock.yaml
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.html
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/shared/left-nav/left-nav.component.ts
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.html
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/shared/top-nav/top-nav.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.ts
Due: none

docs: update app config to add some icons and routes
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
Due: none

docs: remove unnecessary tests
  projects/tailwind-ng-docs/src/app/docs/docs.component.spec.ts
  projects/tailwind-ng-docs/src/app/main/main.component.spec.ts
Due: none

fix(docs): remove circular deps
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
Due: none

ref(components): move event listeners into base class methods
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ref(components): move event listeners into base class methods
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng.yml

ref(components/icon): use dom sanitizer to mark icon source as trusted html
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
Due: ci/tailwind-ng.yml

ref(components/dialog): remove a logic that was removing dialog content in the dom when closed
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng.yml

feat(core/config): add a method to clear the classlist
  projects/tailwind-ng-core/src/config/classlist.ts
Due: ci/tailwind-ng-core.yml

feat(core/directives): inject change detector for better CD management
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
Due: ci/tailwind-ng-core.yml

ref(core/api): remove unnecessary props
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/dialog.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

feat(core/helpers): add method in ThemeHelper for better dark/light mode management
  projects/tailwind-ng-core/src/helpers/theme.helper.ts
Due: ci/tailwind-ng-core.yml

themes: update default styles
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

fix(docs): routing
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: update getting started snippets
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.ts
Due: none

ref(components/config): update defaults
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
Due: ci/tailwind-ng.yml

ref(core/api): remove no more needed props
  projects/tailwind-ng-core/src/config/interfaces/dropdown-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/icon-config.interface.ts
Due: ci/tailwind-ng-core.yml

ref(core/abstractions): use output emitter ref
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

refactor: use KBKey type guard to check event.key
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
Due: ci/tailwind-ng.yml

refactor(components/icon): rename source to name
  projects/tailwind-ng-core/src/config/interfaces/icon-config.interface.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

cleanup: remove unused prop
  projects/tailwind-ng-core/src/directives/option.directive.ts
Due: ci/tailwind-ng-core.yml

ref(components/dialog): remove unnecessary imports
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
Due: ci/tailwind-ng.yml

feat(core/guards): add a union type for escape key
  projects/tailwind-ng-core/src/guards/keyboard-event-type.guard.ts
Due: ci/tailwind-ng-core.yml

themes: update default
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: change CD strategy to use OnPush
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
Due: none

docs: update templates
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

fix: build
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: add componenet overview
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/components/components.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

docs: remove unused files
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.html
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/elements/elements.component.ts
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.html
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/forms/forms.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.html
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/overlays/overlays.component.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng-themes/package.json
Due: none

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
