Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, projects/tailwind-ng-themes, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

reset compilaton mode
  projects/tailwind-ng-core/tsconfig.prod.json
Due: none

feat(core): improve classname merge accuracy
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): improve class name merge function making it more flexible
  projects/tailwind-ng-core/src/utils/classlist.ts
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-core/src/utils/object.util.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.config.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(core: improve classname util
  projects/tailwind-ng-core/src/utils/classname.ts
Due: ci/tailwind-ng-core.yml

refactor: remove unnecessary types
  .vscode/extensions.json
  .vscode/settings.json
  pnpm-lock.yaml
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-docs/public/package.json
  projects/tailwind-ng-docs/src/app/app.component.ts
Due: ci/tailwind-ng-core.yml

core: improve classname merge
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-core/src/utils/type-assertion.ts
Due: ci/tailwind-ng-core.yml

ci: update prettier config
  .editorconfig
  .prettierrc
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

refactor: use spread syntax for readability
  .husky/pre-commit
  package.json
  projects/tailwind-ng-core/src/utils/classname.ts
Due: ci/tailwind-ng-core.yml

refactor: use npm
  .husky/pre-commit
  README.md
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

chore: add package-lock.json
  .gitignore
  package-lock.json
Due: none

chore: update
  README.md
Due: none

chore: translate comments
  unpublish_pack.ps1
Due: none

test: setup vitest for better testing experience
  .prettierrc
  package-lock.json
  package.json
  projects/tailwind-ng-core/src/bases/checkbox.ts
  projects/tailwind-ng-core/src/bases/combobox-item.ts
  projects/tailwind-ng-core/src/bases/combobox.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tests/base.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tests/popup.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
  projects/tailwind-ng-core/src/utils/tests/classlist.spec.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-core/tsconfig.spec.json
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.spec.ts
  projects/tailwind-ng-docs/tsconfig.spec.json
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.spec.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
  projects/tailwind-ng/tsconfig.spec.json
  reports/junit.xml
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

test: improve vitest setup
  .gitignore
  package-lock.json
  package.json
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  reports/junit.xml
  vitest.setup.ts
Due: ci/tailwind-ng.yml

ci: fix dockerfiles setup
  angular.json
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
Due: none

ci: fix coverage report task
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: update code coverage task
  ci/tailwind-ng.yml
Due: ci/tailwind-ng.yml

ci: update code coverage task
  ci/tailwind-ng-core.yml
Due: ci/tailwind-ng-core.yml

ci: update dockerfiles for code style guidelines check
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
Due: none

chore: remove unused command
  package.json
Due: none

chore: update pre-commit hook to check code formating
  .husky/pre-commit
Due: none

chore: update pre-commit hook to include linting
  .husky/pre-commit
  projects/tailwind-ng-core/src/bases/checkbox.ts
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/toggles/preview/preview.component.ts
Due: ci/tailwind-ng-core.yml

chore: improve pre-commit hook and scripts
  .husky/pre-commit
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
  package.json
Due: none

docs: update readme
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-themes/README.md
  projects/tailwind-ng-ui/README.md
Due: ci/tailwind-ng.yml

chore: remove unused package manager
  angular.json
Due: none

chore: update commit hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

ci: rename files
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng-core.yml
  ci/tailwind-ng-ui.Dockerfile
  ci/tailwind-ng-ui.yml
Due: ci/tailwind-ng-core.yml

ci: fix paths
  ci/tailwind-ng-core.yml
  ci/tailwind-ng-ui.yml
Due: ci/tailwind-ng-core.yml

chore: update git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

ci: update
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update
  .husky/pre-push
Due: none
