Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

docs(avatars): update usage sample
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/usage/usage.component.ts
Due: none

fix(core/api): add missing export for the checkbox icon interface
  projects/tailwind-ng-core/src/interfaces/checkbox-toggle-options.ts
  projects/tailwind-ng-core/src/interfaces/index.ts
Due: ci/tailwind-ng-core.yml

fix(core/api): update checkbox icon interface import
  projects/tailwind-ng-core/src/injectables/checkbox-icon.token.ts
Due: ci/tailwind-ng-core.yml

docs: update getting started
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
Due: none

docs: add badge doc
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/usage/usage.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/badges/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/api/api.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/badges/badges.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/badges.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/badges/customization/customization.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/customization/customization.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/badges/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/badges/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/usage/usage.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
Due: none

ci: fix build
  ci/tailwind-ng.Dockerfile
Due: none

refactor(components/combobox): update api
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/interfaces/combobox-item.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: update lab
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: none

refactor(*): use signal api for better performance
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/interfaces/combobox-item.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng-core/src/interfaces/toggle.ts
  projects/tailwind-ng-core/src/types/interactivity/will-change.type.ts
  projects/tailwind-ng-core/src/types/layout-config.type.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: add more previews
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/buttons/buttons.component.html
  projects/tailwind-ng-docs/src/app/docs/components/buttons/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/checkboxes.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/comboboxes.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(*): add new type for will change utility
  projects/tailwind-ng-core/src/interfaces/toggle.ts
  projects/tailwind-ng-core/src/types/interactivity/index.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix(components/combobox): fix combobox single selection behavior where other items where not deselected.
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

docs: update comboboxes previews
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(components/combobox): improve implementation for better performance
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-core/src/interfaces/input-text.ts
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(themes): build default
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor: delay scroll
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
Due: ci/tailwind-ng.yml

docs: add some dialog previews
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(components/backdrop)
  projects/tailwind-ng-core/src/config/interfaces/backdrop-config.interface.ts
  projects/tailwind-ng-core/src/injectables/backdrop.token.ts
  projects/tailwind-ng/src/overlays/backdrop/backdrop.directive.config.ts
  projects/tailwind-ng/src/overlays/backdrop/backdrop.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): improve components design
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/config/config-type-of.ts
  projects/tailwind-ng-core/src/config/config.key.ts
  projects/tailwind-ng-core/src/config/interfaces/dialog-config.interface.ts
  projects/tailwind-ng-core/src/config/interfaces/index.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/injectables/z-index.service.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
  projects/tailwind-ng/src/overlays/dialog/index.ts
  projects/tailwind-ng/src/overlays/index.ts
  projects/tailwind-ng/src/overlays/overlays.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore(themes/default): publish v0.17.36
  projects/tailwind-ng-themes/package.json
Due: none

fix: z index
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

docs: remove unnecessary markup
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: release themes v0.17.50
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng-themes/package.json
Due: none

docs: improve layout
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: remove z-index
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
Due: none

docs: update roadmap
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
Due: none

refactor(config): remove ConfigTypeOf on abstraction for quickly type resolution and faster loading in modules
  package.json
  projects/tailwind-ng-core/src/config/config-type-of.ts
  projects/tailwind-ng-core/src/guards/is-checkbox.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/backdrop.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-config.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-icon.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/injectables/input-radio.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/elements.config.ts
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/overlays/backdrop/backdrop.directive.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

tests: add base directives tests cases
  projects/tailwind-ng-core/src/directives/tests/base.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tests/popup.directive.spec.ts
Due: ci/tailwind-ng-core.yml

test(components): fix failling tests
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
Due: ci/tailwind-ng.yml

refactor(components): use model signal for better performance
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/overlays/backdrop/backdrop.directive.ts
Due: ci/tailwind-ng.yml

ci: fix build by solving eslint errors
  projects/tailwind-ng-core/src/directives/tests/base.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tests/popup.directive.spec.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix karma config
  projects/tailwind-ng-core/karma.conf.js
  projects/tailwind-ng-docs/karma.conf.js
  projects/tailwind-ng/karma.conf.js
Due: none

ci: update docker files
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.Dockerfile
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix karma config
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.Dockerfile
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components): update dropdown api by replacing options property with closeOnBlur
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components): update dialog api by replacing options property with restoreFocus for simplicity
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

refactor(core): export all utilities function api by removing the abstraction layer to make their usage even more intuitive and simple
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/helpers/object.helper.ts
  projects/tailwind-ng-core/src/helpers/string.helper.ts
  projects/tailwind-ng-core/src/helpers/type-check.helper.ts
Due: ci/tailwind-ng-core.yml
