Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, projects/tailwind-ng-themes, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

tests(components/forms): fix failling test
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
Due: ci/tailwind-ng.yml

docs: add more icons for input groups previews
  projects/tailwind-ng-docs/src/app/app.config.ts
Due: none

docs: add more input groups previews
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.ts
Due: none

docs: improve layout
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/buttons/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/icons/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/toggles/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

feat(components/themes): build default
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

feat(components/*): update default config
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
Due: ci/tailwind-ng.yml

docs: add more input groups previews
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

feat(themes): build new default theme
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

refactor(components/configs): update default configs
  projects/tailwind-ng/src/elements/avatar/avatar.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
Due: ci/tailwind-ng.yml

refactor(core/api): improve classlist api by making it more intuitive and predictable.
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/directives/tests/base.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tests/popup.directive.spec.ts
  projects/tailwind-ng-core/src/utils/classlist.util.ts
  projects/tailwind-ng-core/src/utils/classname.util.ts
  projects/tailwind-ng-core/src/utils/tests/classlist.spec.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(core/api): improve classname resolution by handling transparent style override
  projects/tailwind-ng-core/src/utils/classname.util.ts
Due: ci/tailwind-ng-core.yml

refactor(components/forms): override input radio base to disable keyboard events prevention
  projects/tailwind-ng-core/src/bases/input-radio.ts
Due: ci/tailwind-ng-core.yml

refactor(components/forms): update default config
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
Due: ci/tailwind-ng.yml

docs(components): add more previews for input radio groups
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

feat(components/forms): add focus visible style on input radio
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
Due: ci/tailwind-ng.yml

docs(components/forms): add more radio groups previews
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.ts
Due: none

docs: add more radio groups previews
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: fix input groups previews
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/preview/preview.component.html
Due: none

refactor(components): remove no more used classname
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
Due: ci/tailwind-ng.yml

feat(themes): build default
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

feat(components): add inset ring on input text when it has visual focus
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
Due: ci/tailwind-ng.yml

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: setup coding style/formater/guidelines
  .editorconfig
  .husky/pre-commit
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  projects/tailwind-ng-core/eslint.config.js
  projects/tailwind-ng-core/src/utils/classname.util.ts
  projects/tailwind-ng/eslint.config.js
Due: ci/tailwind-ng-core.yml

chore: setup style guidelines
  .editorconfig
  .prettierrc
  projects/tailwind-ng-core/eslint.config.js
  projects/tailwind-ng-core/src/utils/classlist.util.ts
  projects/tailwind-ng-core/src/utils/classname.util.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
Due: ci/tailwind-ng-core.yml

ci: add code style check
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
  package.json
Due: none

chore: add script to unpublish packages
  projects/tailwind-ng/src/elements/button/button.component.ts
  unpublish_pack.ps1
Due: ci/tailwind-ng.yml

chore: fix urls
  README.md
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-themes/README.md
  projects/tailwind-ng/README.md
Due: ci/tailwind-ng.yml

refactor(*): rename symbols
  .editorconfig
  .prettierrc
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/directives/tests/base.directive.spec.ts
  projects/tailwind-ng-core/src/directives/tests/popup.directive.spec.ts
  projects/tailwind-ng-core/src/utils/classlist.ts
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-core/src/utils/index.ts
  projects/tailwind-ng-core/src/utils/merge-config.ts
  projects/tailwind-ng-core/src/utils/object.util.ts
  projects/tailwind-ng-core/src/utils/tests/classlist.spec.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-core/src/utils/type-assertion.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng/src/elements/avatar/avatar.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/button/button.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): rename utility components
  projects/tailwind-ng-core/src/utils/classlist.ts
  projects/tailwind-ng-core/src/utils/classname.ts
  projects/tailwind-ng-core/src/utils/object.util.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.html
  projects/tailwind-ng-docs/src/app/docs/customizations/customizations.component.html
  projects/tailwind-ng-docs/src/app/docs/customizations/customizations.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/button-group/button-group.component.config.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore: fix build status badge
  README.md
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-themes/README.md
  projects/tailwind-ng/README.md
Due: ci/tailwind-ng.yml

chore: rename command
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
  package.json
Due: none

refactor(*): make customization even easier with feature config provider
  projects/tailwind-ng-docs/src/app/app.config.ts
  projects/tailwind-ng-docs/src/app/docs/customizations/customizations.component.html
  projects/tailwind-ng-docs/src/app/docs/customizations/customizations.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/avatar/avatar.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.config.ts
  projects/tailwind-ng/src/elements/button/button.component.config.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/elements.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/elements/index.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/forms/index.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.config.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.config.ts
  projects/tailwind-ng/src/overlays/index.ts
  projects/tailwind-ng/src/overlays/overlays.config.ts
  projects/tailwind-ng/src/public-api.ts
  projects/tailwind-ng/src/ui.config.ts
Due: ci/tailwind-ng.yml

fix typos
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
Due: none

docs: remove no more used views
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/badges.component.html
  projects/tailwind-ng-docs/src/app/docs/components/badges/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/button-groups.component.html
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/buttons/buttons.component.html
  projects/tailwind-ng-docs/src/app/docs/components/buttons/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/checkboxes.component.html
  projects/tailwind-ng-docs/src/app/docs/components/checkboxes/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/comboboxes.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/dialogs.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/dropdowns.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/icons/icons.component.html
  projects/tailwind-ng-docs/src/app/docs/components/icons/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/input-groups.component.html
  projects/tailwind-ng-docs/src/app/docs/components/input-groups/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/radio-groups.component.html
  projects/tailwind-ng-docs/src/app/docs/components/radio-groups/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/toggles/toggles.component.html
  projects/tailwind-ng-docs/src/app/docs/components/toggles/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
Due: none

set angular compiler option to full
  projects/tailwind-ng-core/tsconfig.prod.json
Due: none

fix status badges links
  README.md
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-themes/README.md
Due: ci/tailwind-ng.yml
