Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

fix: unit tests
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
Due: ci/tailwind-ng.yml

feat(core/directives): improve delay scheduling
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
Due: ci/tailwind-ng-core.yml

feat(docs): add roadmap template
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(*): rename exports for better distinction betwen Tailwind NG components an developers components
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/avatar/index.ts
  projects/tailwind-ng/src/elements/badge/index.ts
  projects/tailwind-ng/src/elements/button-group/index.ts
  projects/tailwind-ng/src/elements/button/index.ts
  projects/tailwind-ng/src/elements/dropdown/index.ts
  projects/tailwind-ng/src/elements/icon/index.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/index.ts
  projects/tailwind-ng/src/forms/combobox/index.ts
  projects/tailwind-ng/src/forms/input-radio/index.ts
  projects/tailwind-ng/src/forms/input-text/index.ts
  projects/tailwind-ng/src/forms/toggle/index.ts
  projects/tailwind-ng/src/overlays/dialog/index.ts
Due: ci/tailwind-ng.yml

fix failling tests build
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore: fix typo
  projects/tailwind-ng-core/package.json
Due: none

chore: update badges
  README.md
  projects/tailwind-ng-core/README.md
  projects/tailwind-ng-themes/README.md
Due: none

chore: update deps
  pnpm-lock.yaml
Due: none

docs: remove emoji
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
Due: none

docs: fix routes
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
Due: none

docs: fix typo
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
Due: none

docs: setup avatars docs
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/setup/setup.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/setup/setup.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/setup/setup.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(*): improve style initialization
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/helpers/string.helper.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/interfaces/combobox-item.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: improve avatars doc with sample previews
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.sample.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
Due: ci/tailwind-ng.yml

docs: update avatar previews
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: improve avatars doc
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update avatars preview
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
Due: none

docs: update avatars preview
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update avatars preview
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(core): improve cache key generation
  projects/tailwind-ng-core/src/helpers/object.helper.ts
  projects/tailwind-ng-core/src/helpers/string.helper.ts
Due: ci/tailwind-ng-core.yml

docs: remove active styling on section link
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
Due: none

docs: add more doc on avatar component
  package.json
  pnpm-lock.yaml
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/sample.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

perf(*): improve classlist resolution
  projects/tailwind-ng-core/src/config/config-of.ts
  projects/tailwind-ng-core/src/config/config-type-of.ts
  projects/tailwind-ng-core/src/config/index.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/helpers/string.helper.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-config.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/input-radio.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-core/src/interfaces/avatar.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/button-group.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
  projects/tailwind-ng-core/src/interfaces/input-radio.ts
  projects/tailwind-ng-core/src/interfaces/input-text.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

perf(*): improve classlist setting
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng.yml

ci: fix unit tests
  projects/tailwind-ng-core/src/helpers/tests/string.helper.spec.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-docs/src/app/app.component.spec.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.spec.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.spec.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(components): improve components config
  projects/tailwind-ng-core/src/config/interfaces/badge-config.interface.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix tests
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/interfaces/avatar.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: update avatars api doc
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
Due: ci/tailwind-ng-core.yml

docs: add avatar api reference doc
  projects/tailwind-ng-core/src/config/classlist.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng-core.yml

docs: improve main page
  projects/tailwind-ng-docs/src/index.html
Due: none

docs: improve avatars
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update avatar doc
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update avatar doc
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

fix(components/button): add missing () on attribute binding of the variant signal
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

feat(core/api): improve classlist doc
  projects/tailwind-ng-core/src/config/classlist.ts
Due: ci/tailwind-ng-core.yml

docs: add avatar customization doc
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs(avatars): fix typo
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.html
Due: none

docs: cleanup avatar doc
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/api/api.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/avatars.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/customization/customization.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/quick-start/quick-start.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/sample.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/setup/setup.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/setup/setup.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/avatars/usage/usage.component.html
  projects/tailwind-ng-docs/src/app/docs/components/avatars/usage/usage.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: none
