Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
      - bash: 'rm -rf $(Build.SourcesDirectory)/artifacts/tailwind-ng-core
  
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
      - bash: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f ci/tailwind-ng.Dockerfile .
        workingDirectory: $(Build.SourcesDirectory)
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

refactor(core/api): remove unnecessary callbacks
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/directives/tw-if.directive.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

feat(components/dropdown): update config
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
Due: ci/tailwind-ng.yml

docs(dropdowns/previews): add more examples
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/preview/preview.component.ts
Due: none

feat(themes): build default theme
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs(toggles/preview): add more examples
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/toggles/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/toggles/preview/preview.component.ts
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

refactor(*): move buildstyle method from abstract classes to component's specific class for better maintainability
  projects/tailwind-ng-core/src/bases/avatar.ts
  projects/tailwind-ng-core/src/bases/badge.ts
  projects/tailwind-ng-core/src/bases/button-group.ts
  projects/tailwind-ng-core/src/bases/button.ts
  projects/tailwind-ng-core/src/bases/checkbox.ts
  projects/tailwind-ng-core/src/bases/combobox-item.ts
  projects/tailwind-ng-core/src/bases/combobox.ts
  projects/tailwind-ng-core/src/bases/dialog.ts
  projects/tailwind-ng-core/src/bases/dropdown.ts
  projects/tailwind-ng-core/src/bases/icon.ts
  projects/tailwind-ng-core/src/bases/input-radio.ts
  projects/tailwind-ng-core/src/bases/input-text.ts
  projects/tailwind-ng-core/src/bases/toggle.ts
  projects/tailwind-ng-core/src/public-api.ts
  projects/tailwind-ng-core/src/types/index.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.config.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.config.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/elements.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix variables references
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: add insiders build
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix expressions
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): improve style building
  angular.json
  projects/tailwind-ng-core/src/bases/button.ts
  projects/tailwind-ng-core/src/utils/classlist.util.ts
  projects/tailwind-ng-core/src/utils/classname.util.ts
  projects/tailwind-ng-core/src/utils/object.util.ts
  projects/tailwind-ng-core/src/utils/tests/classlist.spec.ts
  projects/tailwind-ng-core/src/utils/tests/classname.spec.ts
  projects/tailwind-ng-docs/public/fonts/epilogue-100-900-normal.woff2
  projects/tailwind-ng-docs/public/fonts/intertight-100-900-italic.woff2
  projects/tailwind-ng-docs/public/fonts/intertight-100-900-normal.woff2
  projects/tailwind-ng-docs/public/fonts/style.css
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.config.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.config.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.config.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.config.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.spec.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.config.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: improve stylesheet
  angular.json
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/src/style.css
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: increae budget
  angular.json
Due: none

docs: segregate stylesheet for better loading
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.css
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng-docs/src/style.css
Due: none

chore: update packages
  pnpm-lock.yaml
Due: none

feat(themes): build default
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

refactor(*): improve style building
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore: add a script to cleanup git branches and tags to match remote ones
  cleanup_git.sh
Due: none

docs: update main page
  projects/tailwind-ng-docs/src/app/docs/components/buttons/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.ts
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
Due: ci/tailwind-ng.yml

docs: update main page
  angular.json
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/style.css
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: fix typo
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: separate stylesheets
  angular.json
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.css
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.css
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/src/style.css
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: disable code formating on minified critical css
  projects/tailwind-ng-docs/src/index.html
Due: none

docs: improve font loading
  angular.json
  projects/tailwind-ng-docs/src/fonts.css
  projects/tailwind-ng-docs/src/index.html
Due: none

docs: fix bg pattern
  projects/tailwind-ng-docs/src/app/main/main.component.css
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

perf(docs): improve loading by encoding some critical images to base64
  angular.json
  projects/tailwind-ng-docs/src/app/app.component.css
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.css
  projects/tailwind-ng-docs/src/app/main/main.component.css
Due: none

fix(docs): set maximum budget error to 150kb for each component style.
  angular.json
Due: none

chore: remove unused images
  projects/tailwind-ng-docs/public/images/components/avatars.webp
  projects/tailwind-ng-docs/public/images/components/buttons.webp
  projects/tailwind-ng-docs/public/images/components/dropdowns.webp
  projects/tailwind-ng-docs/public/images/components/icon-buttons.webp
  projects/tailwind-ng-docs/public/images/components/radio-groups.webp
Due: none

chore: remove unused files
  projects/tailwind-ng-docs/src/app/app.component.css
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.css
  projects/tailwind-ng-docs/src/app/main/main.component.css
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: remove unused css
  projects/tailwind-ng-docs/src/index.html
Due: none

chore: update routes
  projects/tailwind-ng-docs/src/app/app.routes.ts
Due: none

docs: add assets
  projects/tailwind-ng-docs/public/images/components/avatars.webp
  projects/tailwind-ng-docs/public/images/components/buttons.webp
  projects/tailwind-ng-docs/public/images/components/dropdowns.webp
  projects/tailwind-ng-docs/public/images/components/icon-buttons.webp
  projects/tailwind-ng-docs/public/images/components/radio-groups.webp
  projects/tailwind-ng-docs/src/app/docs/components-overview/components-overview.component.css
  projects/tailwind-ng-docs/src/app/main/main.component.css
Due: none

chore: set maximumError
  angular.json
Due: none

fix(docs): fix hero bg url
  projects/tailwind-ng-docs/src/app/main/main.component.css
Due: none

feat(components/input-text): add the possibility to set the input size
  projects/tailwind-ng-core/src/bases/input-text.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(core/utils): add support for Symbol.toPrimitive to make value access even straitforward
  projects/tailwind-ng-core/src/utils/classlist.util.ts
Due: ci/tailwind-ng-core.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, projects/tailwind-ng-themes, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
