Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src

fix(components/icons): remove inline style
  projects/tailwind-ng/src/elements/icon/icon.directive.config.ts
Due: ci/tailwind-ng.yml

chore(docs): remove unused imports
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
Due: none

docs: update bg images
  projects/tailwind-ng-docs/public/images/components/button-groups.png
  projects/tailwind-ng-docs/public/images/components/comboboxes.png
  projects/tailwind-ng-docs/public/images/components/input-groups.png
Due: none

docs: update stylesheet
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update main
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: update main
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update main pages
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update bg
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update style
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update bg
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: fix typo
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: improve main pages style
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

themes: build default
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update gap
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

chore: update descriptions
  README.md
  projects/tailwind-ng-core/package.json
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-themes/package.json
  projects/tailwind-ng/README.md
  projects/tailwind-ng/package.json
Due: none

chore: update descriptions
  README.md
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng/README.md
  projects/tailwind-ng/package.json
Due: none

feat(components/button): add a behavior that click the button when the enter space is pressed.
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

chore: remove unnecessary block
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

chore: cleanup unused block
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
Due: none

refactor(core/guards): separate keyboard events type guards in single file for better module loading
  projects/tailwind-ng-core/src/guards/is-arrow-down-or-right.ts
  projects/tailwind-ng-core/src/guards/is-arrow-down.ts
  projects/tailwind-ng-core/src/guards/is-arrow-left.ts
  projects/tailwind-ng-core/src/guards/is-arrow-right.ts
  projects/tailwind-ng-core/src/guards/is-arrow-up-or-down.ts
  projects/tailwind-ng-core/src/guards/is-arrow-up-or-left.ts
  projects/tailwind-ng-core/src/guards/is-arrow-up.ts
  projects/tailwind-ng-core/src/guards/is-enter-or-space.ts
  projects/tailwind-ng-core/src/guards/is-enter.ts
  projects/tailwind-ng-core/src/guards/is-escape.ts
  projects/tailwind-ng-core/src/guards/is-keyboard-event.ts
  projects/tailwind-ng-core/src/guards/is-navigation-key.ts
  projects/tailwind-ng-core/src/guards/is-space.ts
  projects/tailwind-ng-core/src/guards/keyboard-event-type.guard.ts
Due: ci/tailwind-ng-core.yml

chore(core/directives): remove no more used block
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
Due: ci/tailwind-ng-core.yml

refactor(components): improve event handling
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
Due: ci/tailwind-ng.yml

feat(core): improve apis
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
Due: ci/tailwind-ng-core.yml

themes(default): built stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update tenplates
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: update header size
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(core/apis): improve popup trigger focus behavior
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/interfaces/popup.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): improve icons
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox-icon.token.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/index.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix: checkbox icon not display correctly on mobile
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox-icon.token.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components): remove icon token
  projects/tailwind-ng-themes/default/style.css
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng.yml

themes: build stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

feat(components/checkbox): add children property in public api
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

feat(components/checkbox): add touch event handlers and an injection token for icons to make customization even simplier
  projects/tailwind-ng-core/src/injectables/checkbox-config.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-icon.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/checkbox/index.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(core/apis): update type guards using the instanceof keyword over custom assertions for better readability and maintainability
  projects/tailwind-ng-core/src/guards/index.ts
  projects/tailwind-ng-core/src/guards/is-html-element.ts
  projects/tailwind-ng-core/src/guards/is-input-element.ts
  projects/tailwind-ng-core/src/guards/is-label-element.ts
  projects/tailwind-ng-core/src/interfaces/avatar.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-core/src/interfaces/dialog.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
  projects/tailwind-ng-core/src/interfaces/toggle.ts
Due: ci/tailwind-ng-core.yml

docs: update title
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: none

docs: remove no more used block
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
Due: none

ci: fix build by removing circular deps
  projects/tailwind-ng-core/src/config/config-type.ts
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/directives/popup.directive.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox-icon.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/interfaces/checkbox-icon.ts
  projects/tailwind-ng-core/src/interfaces/checkbox-toggle-options.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng/src/forms/checkbox/index.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore(release): v0.14
  projects/tailwind-ng-core/package.json
  projects/tailwind-ng-themes/package.json
  projects/tailwind-ng/package.json
Due: none
