Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
      - bash: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f ci/tailwind-ng-core.Dockerfile .
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
      - bash: docker build -t ui:ci -o "type=local,dest=./" -f ci/tailwind-ng.Dockerfile .
        workingDirectory: $(Build.SourcesDirectory)
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

chore: remove stylesheet from git
  .editorconfig
  .gitignore
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  packages/themes/default/style.css
Due: ci/tailwind-ng.yml

chore: clean up
  .dockerignore
  .gitignore
  .husky/pre-push
  .prettierignore
  README.md
  SECURITY.md
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng-core.yml
  ci/tailwind-ng-ui.Dockerfile
  ci/tailwind-ng-ui.yml
  package.json
  packages/core/README.md
  packages/core/src/utils/classname.ts
  packages/core/src/utils/tests/classname.spec.ts
  packages/docs/src/app/app.routes.ts
  packages/docs/src/app/components/lab/lab.component.ts
  packages/docs/src/app/docs/components/checkboxes/preview/preview.component.ts
  packages/docs/src/app/docs/components/comboboxes/preview/preview.component.ts
  packages/docs/src/app/docs/docs.component.ts
  packages/docs/src/main.ts
  packages/themes/README.md
  packages/ui/README.md
  packages/ui/src/elements/avatar/avatar.component.spec.ts
  packages/ui/src/elements/badge/badge.component.spec.ts
  packages/ui/src/elements/button-group/button-group.component.spec.ts
  packages/ui/src/elements/button/button.component.spec.ts
  packages/ui/src/elements/icon/icon.directive.spec.ts
  packages/ui/src/forms/checkbox/checkbox.component.spec.ts
  packages/ui/src/forms/checkbox/checkbox.component.ts
  packages/ui/src/forms/combobox/combobox-item/combobox-item.component.ts
  packages/ui/src/forms/combobox/combobox.component.spec.ts
  packages/ui/src/forms/input-radio/input-radio.directive.spec.ts
  packages/ui/src/forms/input-text/input-text.directive.spec.ts
  packages/ui/src/forms/toggle/toggle.component.spec.ts
  packages/ui/src/forms/toggle/toggle.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

chore: update
  eslint.config.js
  package-lock.json
  package.json
Due: none

chore: update packages
  package-lock.json
Due: none

chore: update git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

lint: fix linting
  packages/ui/src/elements/avatar/avatar.component.spec.ts
  packages/ui/src/overlays/dialog/dialog.component.spec.ts
Due: ci/tailwind-ng.yml

chore: update deps
  package-lock.json
  package.json
Due: none

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: packages/ui/src, packages/themes, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
