Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'rm -rf $(Build.SourcesDirectory)/artifacts/tailwind-ng-core
  
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'rm -rf $(Build.SourcesDirectory)/artifacts/tailwind-ng
  
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

pipelines/package.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/package/job.build-test-publish.yml@template
      parameters:
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
        RunTests: ${{parameters.RunTests}}
  ...

feat(core): introduce signal in theme service for better reactivity
  projects/tailwind-ng-core/src/injectables/theme.service.ts
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
Due: ci/tailwind-ng-core.yml

docs(components): improve dialogs previews
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/docs/components/button-groups/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p01/p01.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p02/p02.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p03/p03.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p04/p04.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p05/p05.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p06/p06.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p07/p07.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs(components): update dialogs previews
  projects/tailwind-ng-docs/src/app/app.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/dialogs.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: add font faces for self hosting
  projects/tailwind-ng-docs/public/fonts/epilogue-100-900-normal.woff2
  projects/tailwind-ng-docs/public/fonts/intertight-100-900-italic.woff2
  projects/tailwind-ng-docs/public/fonts/intertight-100-900-normal.woff2
  projects/tailwind-ng-docs/src/index.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

fix(themes): use absolute path
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: update combobxes previews
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
Due: none

refactor(components): replace binding by effect for better reativity and performace
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/input-radio.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/theme.service.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p01/p01.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p02/p02.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p03/p03.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p04/p04.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p05/p05.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p06/p06.component.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: remove defers block in previews
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
Due: none

docs: remove dom sanitizer
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.ts
Due: none

docs: update mobile layout
  projects/tailwind-ng-docs/src/app/app.routes.ts
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
Due: none

docs: update layout
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
Due: none

fix(docs): remove unused blocks
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p02/p02.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p03/p03.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p04/p04.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p05/p05.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p06/p06.component.ts
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

refactor(core): use timeout
  projects/tailwind-ng-core/src/helpers/string.helper.ts
Due: ci/tailwind-ng-core.yml

docs: set referrerpolicy="no-referrer"
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
Due: none

docs: remove deferaable views
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
Due: none

fix(core): remove idle callback
  projects/tailwind-ng-core/src/injectables/button.token.ts
Due: ci/tailwind-ng-core.yml

core: add micro task
  projects/tailwind-ng-core/src/injectables/button.token.ts
Due: ci/tailwind-ng-core.yml

core(utils): set 1 min to clear the cache
  projects/tailwind-ng-core/src/helpers/string.helper.ts
Due: ci/tailwind-ng-core.yml

docs: update previews
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: update dialogs previews with signal
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p01/p01.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p02/p02.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p03/p03.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p04/p04.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p05/p05.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p06/p06.component.ts
Due: none

docs: update theme setting
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p01/p01.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p02/p02.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p03/p03.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p04/p04.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p05/p05.component.ts
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/p06/p06.component.ts
Due: none

docs: update theme toggle
  projects/tailwind-ng-docs/src/app/docs/docs.component.ts
  projects/tailwind-ng-docs/src/app/main/main.component.ts
Due: none

perf(docs): defer images loading to improve performance
  projects/tailwind-ng-docs/src/app/docs/components/comboboxes/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dialogs/preview/preview.component.html
Due: none

docs: set bg color
  projects/tailwind-ng-docs/src/index.html
Due: none

refactor(*): use afterNextRender callback for setting layout style.
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/input-radio.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/preview/preview.component.html
  projects/tailwind-ng-docs/src/app/docs/components/dropdowns/preview/preview.component.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(*): use afterNextRender callback for setting layout style.
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
Due: ci/tailwind-ng-core.yml

docs: update stylesheet link
  projects/tailwind-ng-docs/src/index.html
Due: none

docs(themes): build default stylesheet
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: ci/tailwind-ng.yml

docs: update link
  projects/tailwind-ng-docs/src/index.html
Due: none

ci: use PublishCodeCoverageResults@2
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: update checkout task
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: update summaryFileLocation
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: update paths
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix paths
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: set clean to false in checkout
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: fix build
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

ci: cleanup
  ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, projects/tailwind-ng-themes, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
