Repository william-mba/tailwind-ng: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/ngx-tailwind-ui.yml, azure-pipelines/ngx-twcss-demo.yml, azure-pipelines/ngx-twcss-package.yml, azure-pipelines/ngxtw-ui.yml, ci/tailwind-ng-core.yml, ci/tailwind-ng.yml, pipelines/ngx-twcss-demo.yml, pipelines/ngx-twcss-package.yml, pipelines/package.yml

azure-pipelines/ngx-tailwind-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngx-tailwind/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngx-tailwind-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

azure-pipelines/ngx-twcss-demo.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - job: Build
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: 'sed "/file\:dist\/ngx-twcss/d" -i package.json
  
  
          echo "Using ngx-twcss@$(ReleaseTag)"
  
  ...

azure-pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        persistCredentials: true
        clean: false
  ...

azure-pipelines/ngxtw-ui.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: ngxtw/job.build-test-publish.yml@template
      parameters:
        ProjetName: ngxtw-ui
        RunSetup: ${{parameters.RunSetup}}
        RunBuild: ${{parameters.RunBuild}}
  ...

ci/tailwind-ng-core.yml:
  name: tailwind-ng-core
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - script: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f Dockerfile.lib-core.ci .
  ...

ci/tailwind-ng.yml:
  name: tailwind-ng
  pool: Lab
  stages:
  - stage: CI
    jobs:
    - job: Build_Test_Publish
      steps:
      - checkout: self
        clean: false
        persistCredentials: true
      - bash: docker build -t tailwind-ng:ci -o "type=local,dest=./" -f ci/tailwind-ng.Dockerfile .
  ...

pipelines/ngx-twcss-demo.yml:
  pool:
    name: Lab
    demands:
    - Agent.OS -equals Linux
  stages:
  - stage: CI
    jobs:
    - template: lab/ngxtw/demo/job.build.yml@template
  - stage: CD
    dependsOn: CI
    pool:
      name: Lab
      demands:
      - Agent.OS -equals Linux
      - AZP_RUNS -equals demo
    jobs:
  ...

pipelines/ngx-twcss-package.yml:
  pool:
    name: Ngx-twcss
    demands:
    - Agent.OS -equals Linux
  name: $(Build.DefinitionName)-v${{variables.Release}}
  stages:
  - stage: CI
    jobs:
    - template: ngx-twcss/job.build-test-publish.yml@template
  - stage: CD
    dependsOn: CI
    jobs:
    - template: ngx-twcss/job.release.yml@template

docs: add themes doc
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.html
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.ts
Due: none

docs: scaffold roadmap doc
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.html
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.ts
Due: none

fix(docs): remove tests files
  projects/tailwind-ng-docs/src/app/docs/components/components.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/getting-started/getting-started.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/roadmap/roadmap.component.spec.ts
  projects/tailwind-ng-docs/src/app/docs/themes/themes.component.spec.ts
Due: none

fix(tests): update property references
  projects/tailwind-ng-core/src/config/tests/classlist.spec.ts
  projects/tailwind-ng-core/src/config/tests/reactive-config.spec.ts
  projects/tailwind-ng-core/src/helpers/tests/string.helper.spec.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.spec.ts
  projects/tailwind-ng/src/elements/badge/badge.component.spec.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.spec.ts
  projects/tailwind-ng/src/elements/button/button.component.spec.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.spec.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.spec.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.spec.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.spec.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.spec.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.spec.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.spec.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(core): replace observables configs with signals for better performances and memory usage
  projects/tailwind-ng-core/src/config/config-key.type.ts
  projects/tailwind-ng-core/src/config/config-store.ts
  projects/tailwind-ng-core/src/config/config-type-of.type.ts
  projects/tailwind-ng-core/src/config/reactive-config.ts
  projects/tailwind-ng-core/src/injectables/abstract-directives.ts
  projects/tailwind-ng-core/src/injectables/config.token.ts
  projects/tailwind-ng-core/src/types/observable-config.ts
Due: ci/tailwind-ng-core.yml

perf(core/utils): use memoization to improve performances of class names resolutions and configs parsing
  projects/tailwind-ng-core/src/helpers/object.helper.ts
  projects/tailwind-ng-core/src/helpers/string.helper.ts
Due: ci/tailwind-ng-core.yml

perf(core/config): use signals for better changes tracking
  projects/tailwind-ng-core/src/config/classlist.ts
Due: ci/tailwind-ng-core.yml

refactor(core/helpers): make isArray as a Array type guardvalue
  projects/tailwind-ng-core/src/helpers/type-check.helper.ts
Due: ci/tailwind-ng-core.yml

refactor(components/*): make all style related tasks asynchronous to avoid blocking rendering process
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/directives/option.directive.ts
  projects/tailwind-ng/src/elements/avatar/avatar.component.ts
  projects/tailwind-ng/src/elements/badge/badge.component.ts
  projects/tailwind-ng/src/elements/button-group/button-group.component.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/elements/icon/icon.directive.ts
  projects/tailwind-ng/src/forms/checkbox/checkbox.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
  projects/tailwind-ng/src/forms/input-radio/input-radio.directive.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.ts
  projects/tailwind-ng/src/forms/toggle/toggle.component.ts
  projects/tailwind-ng/src/overlays/dialog/dialog-container.directive.ts
  projects/tailwind-ng/src/overlays/dialog/dialog.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

fix(components/forms): rename function
  projects/tailwind-ng/src/forms/forms.config.ts
  projects/tailwind-ng/src/forms/input-text/input-text.directive.config.ts
Due: ci/tailwind-ng.yml

feat(core/guards): add a new type guards to validate keyboard event key
  projects/tailwind-ng-core/src/guards/keyboard-event-type.guard.ts
Due: ci/tailwind-ng-core.yml

refactor(core/directives): remove unnecessary block
  projects/tailwind-ng-core/src/directives/popup.directive.ts
Due: ci/tailwind-ng-core.yml

chore(core): update imports
  projects/tailwind-ng-core/src/config/index.ts
  projects/tailwind-ng-core/src/helpers/index.ts
  projects/tailwind-ng-core/src/injectables/index.ts
  projects/tailwind-ng-core/src/types/index.ts
Due: ci/tailwind-ng-core.yml

refactor(core/api): replace Observable with Partial as no subscription is needed anymore
  projects/tailwind-ng-core/src/interfaces/avatar.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng-core/src/interfaces/button-group.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
  projects/tailwind-ng-core/src/interfaces/input-radio.ts
  projects/tailwind-ng-core/src/interfaces/input-text.ts
Due: ci/tailwind-ng-core.yml

feat(themes/default): update stylesheet
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: update lab components
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.ts
Due: none

feat(core/config): add a new type to infer the config type
  projects/tailwind-ng-core/src/config/config-type.ts
Due: ci/tailwind-ng-core.yml

feat(core): use the lightweight dependency injection pattern to make config even lighter while separating them into single files to improve maintainability
  projects/tailwind-ng-core/src/injectables/avatar.token.ts
  projects/tailwind-ng-core/src/injectables/badge.token.ts
  projects/tailwind-ng-core/src/injectables/button-group.token.ts
  projects/tailwind-ng-core/src/injectables/button.token.ts
  projects/tailwind-ng-core/src/injectables/checkbox.token.ts
  projects/tailwind-ng-core/src/injectables/combobox-item.token.ts
  projects/tailwind-ng-core/src/injectables/combobox.token.ts
  projects/tailwind-ng-core/src/injectables/dialog.token.ts
  projects/tailwind-ng-core/src/injectables/dropdown.token.ts
  projects/tailwind-ng-core/src/injectables/icon.token.ts
  projects/tailwind-ng-core/src/injectables/input-radio.token.ts
  projects/tailwind-ng-core/src/injectables/input-text.token.ts
  projects/tailwind-ng-core/src/injectables/toggle.token.ts
Due: ci/tailwind-ng-core.yml

ci: fix build
  package.json
  pnpm-lock.yaml
  projects/tailwind-ng-core/src/helpers/index.ts
Due: ci/tailwind-ng-core.yml

ci: fix build by reinstaling corepack
  ci/tailwind-ng-core.Dockerfile
  ci/tailwind-ng.Dockerfile
Due: none

feat(components/combobox): use requestIdleCallback to defer function call
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
Due: ci/tailwind-ng.yml

feat(core/directives): add a method to scroll into the component view
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng-core/src/interfaces/base.ts
  projects/tailwind-ng/src/forms/combobox/combobox-item/combobox-item.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

docs: add ng images for components overview
  projects/tailwind-ng-docs/public/images/components/avatars.webp
  projects/tailwind-ng-docs/public/images/components/badges.webp
  projects/tailwind-ng-docs/public/images/components/button-groups.webp
  projects/tailwind-ng-docs/public/images/components/buttons.webp
  projects/tailwind-ng-docs/public/images/components/checkboxes.jpg
  projects/tailwind-ng-docs/public/images/components/checkboxes.webp
  projects/tailwind-ng-docs/public/images/components/comboboxes.jpg
  projects/tailwind-ng-docs/public/images/components/comboboxes.webp
  projects/tailwind-ng-docs/public/images/components/dialogs.jpg
  projects/tailwind-ng-docs/public/images/components/dialogs.webp
  projects/tailwind-ng-docs/public/images/components/dropdowns.jpg
  projects/tailwind-ng-docs/public/images/components/dropdowns.webp
  projects/tailwind-ng-docs/public/images/components/icon-buttons.webp
  projects/tailwind-ng-docs/public/images/components/input-groups.jpg
  projects/tailwind-ng-docs/public/images/components/input-groups.webp
  projects/tailwind-ng-docs/public/images/components/radio-groups.webp
  projects/tailwind-ng-docs/public/images/components/toggles.webp
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

refactor(components/dropdown): update bg color to white
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.config.ts
Due: ci/tailwind-ng.yml

docs: update images url
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

docs: remove unused assets
  projects/tailwind-ng-docs/public/images/components/checkboxes.jpg
  projects/tailwind-ng-docs/public/images/components/comboboxes.jpg
  projects/tailwind-ng-docs/public/images/components/dialogs.jpg
  projects/tailwind-ng-docs/public/images/components/dropdowns.jpg
  projects/tailwind-ng-docs/public/images/components/input-groups.jpg
Due: none

feat(core/api): add type guards to increase type safety and component api manipulation
  projects/tailwind-ng-core/src/interfaces/avatar.ts
  projects/tailwind-ng-core/src/interfaces/badge.ts
  projects/tailwind-ng-core/src/interfaces/button.ts
  projects/tailwind-ng-core/src/interfaces/checkbox.ts
  projects/tailwind-ng-core/src/interfaces/combobox.ts
  projects/tailwind-ng-core/src/interfaces/dialog.ts
  projects/tailwind-ng-core/src/interfaces/dropdown.ts
  projects/tailwind-ng-core/src/interfaces/icon.ts
  projects/tailwind-ng-core/src/interfaces/toggle.ts
Due: ci/tailwind-ng-core.yml

feat(components): add a property to make the dropdown close on blur if set to true
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
Due: ci/tailwind-ng.yml

refactor(components): use type validation to safely check the component type
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng.yml

refactor(components/combobox): replace setTimeout with requestIdleCallback for better task scheduling
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

refactor(core/directives): make the initialization hook non-blocking by removing await
  projects/tailwind-ng-core/src/directives/base.directive.ts
Due: ci/tailwind-ng-core.yml

docs: update components overviews images and main description
  projects/tailwind-ng-docs/public/images/components/input-groups.webp
  projects/tailwind-ng-docs/public/images/components/radio-groups.webp
  projects/tailwind-ng-docs/src/app/components/lab/lab.component.html
  projects/tailwind-ng-docs/src/app/docs/components/components.component.html
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-themes/default/style.css
Due: none

fix(components/combobox): reuse setTimeout as requestIdleCallback not working as expected on mobile
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

fix(core/directive): reuse setTimeout as requestIdleCallback not working as expected on mobile
  projects/tailwind-ng-core/src/directives/base.directive.ts
Due: ci/tailwind-ng-core.yml

fix(core/directive): reuse requestIdleCallback with a timeout of 50ms
  projects/tailwind-ng-core/src/directives/base.directive.ts
Due: ci/tailwind-ng-core.yml

fix(components/button): set a timeout of 50ms to ensure the dropdown's first child get focused on mobile
  projects/tailwind-ng-core/src/directives/base.directive.ts
  projects/tailwind-ng/src/elements/button/button.component.ts
Due: ci/tailwind-ng-core.yml, ci/tailwind-ng.yml

refactor(components/combobox): use requestIdleCallback with a timeout of 50ms to handle on blur event
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

fix(components): reuse setTimeout as requestIdleCallback not working as expected on mobile
  projects/tailwind-ng/src/elements/button/button.component.ts
  projects/tailwind-ng/src/elements/dropdown/dropdown.component.ts
  projects/tailwind-ng/src/forms/combobox/combobox.component.ts
Due: ci/tailwind-ng.yml

docs: update main pages
  projects/docs/assets/images/ngxtw-logo-doc.png
  projects/tailwind-ng-docs/src/app/docs/docs.component.html
  projects/tailwind-ng-docs/src/app/main/main.component.html
  projects/tailwind-ng-docs/tailwind.css
  projects/tailwind-ng-themes/default/style.css
Due: none

Path conditions:
  azure-pipelines/ngx-tailwind-ui.yml: any of: projects/ngx-tailwind-ui/src
  azure-pipelines/ngx-twcss-demo.yml: any of: src, azure-pipelines/*demo.yml
  azure-pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src, azure-pipelines/*packages.yml
  azure-pipelines/ngxtw-ui.yml: any of: projects/ngxtw-ui/src
  ci/tailwind-ng-core.yml: any of: projects/tailwind-ng-core/src, ci/tailwind-ng-core.yml
  ci/tailwind-ng.yml: any of: projects/tailwind-ng/src, ci/tailwind-ng.yml
  pipelines/ngx-twcss-demo.yml: any of: src
  pipelines/ngx-twcss-package.yml: any of: projects/ngx-twcss/src
  pipelines/package.yml: any of: projects/lib/src
